/* Extra small devices (phones, 576px and down) */
@media screen and (max-width: 576px) {
  .home-img {
    width: 60%;
    height: auto;
  }

  .home-tagline h1 {
    padding-top: 300px;
    font-size: 30px;
    line-height: 40px;
    width: 70%;
  }

  .why-us-card {
    margin: 28px 0;
    height: 220px;
    width: auto;
  }

  .training-tagline,
  .awards-tagline {
    padding-top: 50px;
  }

  .training-tagline p,
  .awards-tagline p {
    width: 80%;
  }

  /* .training-img {
    width: 70%;
    height: auto;
  } */
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-row {
    flex-direction: column-reverse;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 922px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 350px) {
}
